.anchor {
  position: absolute;
  transform: translateY(-6.5rem);
}

.container {
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.title {
  color: var(--light-black);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 1.7rem;
  text-align: center;
}

.figcaption {
  color: var(--light-black);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin-top: 1.5rem;
}

.image {
  cursor: pointer;
}

.imageOpen {
  border-radius: 1rem;
}

@media screen and (min-width: 992px) {
  .container {
    padding: 0 5rem;
  }
}
