:root {
  // colors
  --light-black: #2B2D3A;
  --dark-black: #000000;
  --white: #FFFFFF;
  --orange: #FF8730;
  --light-blue: #29ABE2;
  --dark-blue: #2478F8;
  --dark-blue-60: #2478F899;
  --dark-blue-80: #2478F8CC;
  --grey-light: #E0E0E0;
  --grey-middle: #AEAEAE;
  --grey-dark: #8B8B8B;
  --pink: #FF364B;
  --modal-background: rgba(0, 0, 0, 0.5);

  //  dimensions
  --padding-horizontal: 30px;
}
