.toggleBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}

.label {
  color: var(--light-black);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input {
  height: 0;
  width: 0;
  visibility: hidden;
}

.labelHidden {
  cursor: pointer;
  text-indent: -9999px;
  width: 2.1rem;
  height: 1.1rem;
  background: var(--grey-dark);
  display: block;
  border-radius: 0.9rem;
  position: relative;
  flex-shrink: 0;
}

.labelHidden:after {
  content: '';
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  width: 0.9rem;
  height: 0.9rem;
  background: var(--white);
  border-radius: 50%;
  transition: 0.2s;
}

.input:checked + .labelHidden {
  background: var(--dark-blue);
}

.input:checked + .labelHidden:after {
  left: calc(100% - 0.1rem);
  transform: translateX(-100%);
}
