.root {
  font-size: 1rem;
  color: var(--dark-blue);
  background-color: var(--white);
  border-radius: 0px 0px 15px 15px;
  position: sticky;
  top: 0;
  left: 0;
  margin-bottom: 2rem;
  z-index: 3;
}

.rootShadow {
  box-shadow: 0px 4px 4px 0px rgba(151, 151, 151, 0.25);
}

.body {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.logo {
  width: 1.6rem;
  height: 1.6rem;
}

.links {
  list-style-type: none;
  display: flex;
  gap: 1.6rem;
}

.telegramLogo {
  width: 2rem;
  height: 2rem;
}

@media screen and (min-width: 992px) {
  //.body {
  //  padding-top: 2.2rem;
  //  padding-bottom: 1.875rem;
  //}

  .nav {
    flex-grow: 1;
  }
}
