.root {
  position: relative;
  width: min-content;
  margin-left: auto;
  padding: 0.6rem 0 0.6rem 2.5rem;
  white-space: nowrap;
  color: var(--dark-blue);
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-top: 0.1rem solid var(--dark-blue);
}
